* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 53px;
  line-height: 62px;
}

.wrapper {
  width: 1200px;
  height: 1000px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background: #C0DBD9;
}

header {
  width: 97.5%;
  height: 10%;
  position: relative;

  background: #7FAFF7;
}

.open {
  margin: 30.5px 30px;
  padding: 8px 15px;

  color: #FFF;
  background: #A5C7F9;
  border-radius: 5px;

  text-decoration: none;

  font-size: 20px;
  line-height: 23px;
  color: #FFF;
  cursor: pointer;
}

.open:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}


header {
  width: 97.5%;
  height: 10%;
  position: relative;

  background: #7FAFF7;
}

.open {
  margin: 30.5px 30px;
  padding: 8px 15px;

  color: #FFF;
  background: #A5C7F9;
  border-radius: 5px;

  text-decoration: none;

  font-size: 20px;
  line-height: 23px;
  color: #FFF;
  cursor: pointer;
}

.open:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

main {
  width: 97.5%;
  height: 80%;
  position: relative;
}

.section_one {
  width: 100%;
  height: 411px;
  margin: 15px auto;
  position: relative;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;

  background: #B3F95A;

  color: #FFF;
}

.section_one_one,
.section_one_two,
.section_one_three,
.section_one_four,
.section_one_five {
  height: 198px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8AD191;
}

.section_one_one { width: 390px; }

.section_one_two { width: 590px; }

.section_one_three { width: 160px; }

.section_one_four { width: 995px; }

.section_one_five { width: 160px; }

.section_one_one,
.section_one_two,
.section_one_three,
.section_one_four,
.section_one_five {
  counter-increment: blockNum;
}

.section_one_one:after,
.section_one_two:after,
.section_one_three:after,
.section_one_four:after,
.section_one_five:after {
  content: counter(blockNum);
}

.section_two {
  width: 100%;
  height: 32.4%;
  /*height: 259px;*/

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: #88B5BF;
}

.section_two_one,
.section_two_two,
.section_two_three,
.section_two_four {
  width: 255px;
  height: 199px;

  background: #0D89B0;
}

footer {
  width: 97.5%;
  height: 10%;
  margin: 100px 0 0 0;
  position: relative;

  background: #7FAFF7;
}

.modal_wrapper {
  position: fixed;
     
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);

  z-index: 1;
  opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_wrapper:target {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
}

.pop_up {
  width: 400px;
  height: 400px;

  background: #FFF;
}

.btn_pop_up {
  padding: 8px 15px;
  margin: 15px 0  0 342px;

  background: #7FAFF6;
  border-radius: 5px;
  border: none;
}

.close {
  text-decoration: none;
  cursor: pointer;
}

.text_pop {
  margin: 115px 117px;
}